<li class="flight">
    <div class="details">
        <div class="price">
            <h3>{{price}}</h3>
            <p>{{airlineName}}</p>
        </div>
        <div class="info">
            <p>
                <span>{{originCityName}}, {{originCountryCode}}</span>
                <span>({{originCode}})</span>
                <span>{{originDateTime}}</span> -
                <span>{{destinationCityName}}, {{destinationCountryCode}}</span>
                <span>({{destinationCode}})</span>
                <span>{{destinationDateTime}}</span>
            </p>
            <small>
                <span>Flight Number: {{flightNum}}</span> |
                <span>Aircraft: {{plane}}</span> |
                <span>Duration: {{durationMin}}</span> |
                <span>Distance: {{distance}}</span>
            </small>
        </div>
    </div>
</li>
